.banner {
  padding-bottom: 5rem;
}

.information {
  background: #f6f9fe;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.information_content {
  max-width: 50rem;
  margin: 0 auto;
}

.information_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.information_title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #023b6d;
}

.information_text {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #71828d;
}

.partners {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.partners_tag {
  background-color: #e7f1fd;
  padding: 0.3rem 1.2rem;
  border-radius: 10rem;
}

.partners_tag_tittle {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: #023b6d;
}

.partners_title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #444444;
}

.partners_logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}

.partners_logo_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.partners_logo_card:hover {
  transform: scale(1.08); /* Aumenta el tamaño al pasar el ratón */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Cambia la sombra */
}

.partners_logo {
  padding: .5rem;
  border-radius: 1rem;
  width: 100%; 
  height: 100%;
  object-fit: contain;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fe;
  padding: 4rem;
}

.video_container {
  width: 50rem;
}

.video_canvas {
  width: 100%;
}



@media screen and (max-width: 1400px) {
  .information_content {
    max-width: 45rem;
  }

  .partners_logos {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 0;
  }

  .partners_logo_card{
    width: 12rem;
    height: 12rem;
  }

  .partners_logo {
    width: 100%; // Tamaño por defecto
    height: 100%;
    padding: .5rem;
  }

  .video {
    padding: 3rem;
  }
}


@media screen and (max-width: 1024px) {
  .information_title {
    font-size: 1.5rem;
  }

  .information_text {
    font-size: 1rem;
  }

  .partners_title {
    font-size: 1.5rem;
  }

  .partners_tag_tittle {
    font-size: 1rem;
  }

  .partners_logos {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .partners_logo_card{
    width: 12rem;
    height: 12rem;
  }

  .partners_logo {
    width: 100%; // Tamaño por defecto
    height: 100%;
    padding: .5rem;
  }

  .video {
    padding: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .information_content {
    max-width: 45rem;
  }

  .information_title {
    font-size: 1.2rem;
  }

  .information_text {
    font-size: 1rem;
  }

  .partners_title {
    font-size: 1.2rem;
  }

  .partners_tag_tittle {
    font-size: 1rem;
  }

  .partners_logos {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0;
  }

  .partners_logo {
    width: 100%; // Tamaño por defecto
    height: 100%;
    object-fit: contain;
  }

  .video {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .information_content {
    max-width: 35rem;
  }

  .information_title {
    font-size: 1.2rem;
  }

  .information_text {
    font-size: 1rem;
  }


  .partners_logo_card{
    width: 11rem;
    height: 11rem;
  }

  .partners_logos {
    padding: 3rem;
  }
}

@media screen and (max-width: 630px) {
  .information_content {
    max-width: 30rem;
  }

  .partners_logos {
    padding: 0;
  }

  .partners_logo {
    width: 100%; // Tamaño por defecto
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 520px) {
  .information_content {
    max-width: 25rem;
  }
  .partners_logos {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}


@media screen and (max-width: 480px) {

  .partners_logo_card{
    width: 10rem;
    height: 10rem;
  }

  .partners_logos {
    gap: 1rem;
    padding: 1rem;
  }
}
